.all-notes-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}

button.filter-fav {
  border: none;
  background-color: transparent;
}

.icons{
  margin-left: 25px;
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.filter-fav-text {
  font-size: 14px;
  color: black;
  vertical-align: super;
  margin-left: 41px;
}
.fav-notes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.other-notes-container {
  margin: 24px auto auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-notes {
  font-size: x-large;
  color: darkgrey;
  font-weight: normal;
  text-align-last: center;
}

h4 {
  color: #484343;
  font-weight: 100;
  text-transform: uppercase;
  margin: 30px;
}

.download-all {
  border: none;
  outline: none;
  background-color: inherit;
}

.img-download {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 1024px) {
  .fav-notes-container {
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .other-notes-container {
    margin: 24px auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .fav-notes-container {
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .other-notes-container {
    margin: 24px auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 460px) {
  .fav-notes-container {
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .other-notes-container {
    margin: 24px auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
