.color {
  background-color: rgb(173, 104, 104);
}

.color h1 {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.title-notes-app {
  color: #484343;
  font-weight: 100;
  text-transform: uppercase;
}
