.note {
  border: 1px solid black;
  height: 250px;
  margin-top: 20px;
  width: 250px;
  background-color: rgb(233, 229, 229);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allNotesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}
